@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neue+Haas+Unica+W1G:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --desktop-body-m: Manrope;
  --desktop-body-s1: "Neue Haas Unica W1G";

  /* font sizes */
  --desktop-body-xs-size: 11px;
  --desktop-body-s1-size: 13px;
  --desktop-body-m-size: 15px;
  --font-size-base: 20px;

  /* Colors */
  --day-base-elevation-01: #fff;
  --color-gainsboro: rgba(231, 231, 231, 0.32);
  --color-darkslateblue-100: #173070;
  --day-base-accent: #ff7043;
  --day-base-primary: #526ed3;
  --day-text-icons-text-01: rgba(25, 28, 48, 0.9);
  --color-gray-200: rgba(255, 255, 255, 0);
  --day-text-icons-text-02: rgba(27, 31, 59, 0.65);
  --day-status-info-bg: rgba(112, 182, 246, 0.12);

  /* Gaps */
  --gap-xs: 10px;
  --gap-sm: 12px;
  --gap-md: 16px;
  --gap-lg: 24px;

  /* Paddings */
  --padding-2xs: 4px;
  --padding-xs: 5px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 32px;

  /* border radiuses */
  --br-xs: 12px;
  --br-sm: 13.63px;
  --br-md: 16px;
  --br-lg: 30px;
  --br-xl: 1000px;

  /* Effects */
  --shadow-default1: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
